.gradient-text {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.custom-btn {
  background: linear-gradient(45deg, #499aef, #00C6FF);
  color: white;
  border: none;
  transition: 0.3s ease;
}

.custom-btn:hover {
  background: linear-gradient(45deg, #00C6FF, #499aef);
  transform: scale(1.05);
}

body.dark-mode {
  --custom-bg: #1f1f1f;
  background-color: #121212;
  color: white;
}

body.dark-mode .navbar .nav-link {
  color: white !important;
}

body.dark-mode .navbar .nav-link:hover {
  color: #00dfd8 !important;
}

.menu_active {
  font-weight: bold;
  border-bottom: 2px solid #00dfd8;
}

.navbar-light {
  background-color: #f8f9fa !important;
}

.navbar-dark {
  background-color: #1f1f1f !important;
}

.navbar {
  --bs-navbar-padding-x: 0rem !important;
  --bs-navbar-padding-y: 0rem !important;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.border-custom {
  border: solid transparent;
  border-width: 0.1px 2px 2px 2px;
  border-radius: 15px;
  padding: 0;
  background-image:
    linear-gradient(var(--custom-bg, #fff), var(--custom-bg, #fff)),
    linear-gradient(90deg, #007cf0, #00dfd8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-sizing: border-box;
}

.custom-underline {
  text-decoration: underline;
  text-decoration-color: #0097FF;
  text-underline-offset: 3px;
}


.custom-width {
  width: 100px;
  /* padding: 5px; */
}

